<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品一覧</title>
<link rel="stylesheet" href="css/style.css" />
</head>
<body>
	<header th:replace="parts/header"></header>
	<hr />
	<nav>
		<a href="/items">全商品</a>
		<a th:each="category:${categoryList}" th:href="'/items?categoryId=' + ${category.id}">[[${category.name}]]</a>
		<a href="/cart">カートを見る</a>
	</nav>
	<main>
		<articvle>
			<table border="1">
				<tr>
					<th>NO</th>
					<th>商品名</th>
					<th>値段</th>
					<th></th>
				</tr>
				<tr th:each="item:${itemList}">
					<td th:text="${item.id}"></td>
					<td th:text="${item.name}"></td>
					<td th:text="${item.price}"></td>
					<td>
						<form action="/cart/add" method="post">
							<input type="hidden" name="itemId" th:value="${item.id}" />
							<button>カートに追加</button>
						</form>
					</td>
				</tr>
			</table>
		</articvle>
	</main>
	<hr />
	<footer th:replace="parts/footer"></footer>
</body>
</html>