<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet" href="css/style.css" />
</head>
<body>
	<header>
		<h1>サンプルショッピング</h1>
	</header>
	<main>
		<article>
			<form action="/login" method="post">
				<input type="text" name="email" placeholder="メールアドレス" /><br />
				<input type="text" name="password" placeholder="パスワード" /><br />
				<button>ログイン</button>
			</form>
			<p><a href="/account">新規会員登録はこちら</a></p>
		</article>
	</main>
</body>
</html>